<div>
  <div class="py-5 text-center">
    <app-timer [timerStop]="timerStop"/>
  </div>
  <section class="flex items-center flex-col">
    <div class="grid-rows-3 grid-cols-5 grid gap-6">
      @for(card of cards; track card){
        <app-flip-card [cardId]="card.id" [frontImage]="card.frontImage" [type]="card.type" [cardsFlipped]="cardsFlipped"
                       [addFlippedCard]="addFlippedCard" [removeFlippedCard]="removeFlippedCard"
                       [flippedCardId]="flippedCardId" [setFlippedCardId]="setFlippedCardId"
                       (cardClicked)="onClickedCard(card.id)" [toggled]="card.toggled"
                       [completed]="card.completed" [frontImageComp]="card.frontImageComp"
                       [blink]="card.blink" [placeholder]="card?.placeholder"
        >
          <flip-card-front>
          </flip-card-front>
          <flip-card-back>
          </flip-card-back>
        </app-flip-card>
      }
    </div>
    <app-button (buttonClicked)="startTimer()" title="start"/>
  </section>

</div>




